@model CategoriesAndProductsLists

<div class="row mt-5">
    <div class="col-2 nav-item dropdown-center">
        <a class="dropdown-toggle text-white btn btn-outline-primary" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Каталог товаров
        </a>
        <ul class="dropdown-menu bg-body">

            @foreach (var category in Model.categoriesList)
            {
                <li class="nav-item my-3 mx-5">
                    <a class="text-center nav-link btn-outline-primary mx-auto" asp-area="Customer" asp-controller="Home" asp-action="ProductListOfCategory" asp-route-id="@category.Id">@category.Name</a>
                </li>
                <li><hr class="dropdown-divider"></li>
            }
        </ul>
    </div>
    <dvi class="col-8"> 
        <h1 class="text-white text-opacity-25 text-center py-2">G&nbsp;A&nbsp;M&nbsp;E&nbsp;L&nbsp;A&nbsp;N&nbsp;D</h1>
    </dvi>
    <dvi class="col-2">
    </dvi>
</div>


<div class="row my-4 pb-5">
    @foreach (var product in Model.productsList)
    {
        <div class="col-lg-3 col-sm-6">
            <div class="row p-2">
                <div class="col-10 p-1">
                    <div class="card border-0 p-3 shadow border-top border-4 rounded card-fixed-height bg-gradient">
                        <img src="@product.ImageURL" class="card-img-top rouded" />
                        <div class="card-body pb-0">
                            <div class="pl-1">
                                <p class="card-title text-white text-opacity-100 text-uppercase text-center">@product.Name</p>
                            </div>

                            @if (product.OldPrice != 0)
                            {
                                <div>
                                    <p class="text-white text-opacity-100 text-center mb-0"><span>@product.Price.ToString("c")</span></p>
                                    <p class="text-white text-opacity-100 text-center"><span class="text-decoration-line-through">@product.OldPrice.ToString("c")</span></p>
                                </div>
                            }
                            else
                            {
                                <div class="pb-4 pt-3">
                                    <p class="text-white text-opacity-100 text-center mb-0"><span>@product.Price.ToString("c")</span></p>
                                </div>

                            }
                        </div>
                        <div>
                            <a asp-area="Customer" asp-controller="Home" asp-action="Details" asp-route-id="@product.Id" class="btn btn-outline-primary border-0 form-control">
                                Больше о товаре <i class="bi bi-box-arrow-in-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
